* {
  margin: 0;
  padding: 0;
}

section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards {
  width: 200px;
  padding: 10px;
}
.image_box img {
  width: 150px;
  height: 200px;
}

.image_box img {
  width: 150px;
  height: 200px;
}

.search{
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}